
 body{
  background-color: #e9f5f4;
  font-family: 'Poppins', sans-serif;
  
}
.parent {
  height: 100vh;
  display: grid;
  grid-template-areas:
   "a a a "
   "b c d"
   "e e e";
 grid-template-columns: auto 1fr auto ;
 grid-template-rows: auto 1fr auto;
 grid-gap: 0.1em;

}                 


header { 
  height: 85px; 
  opacity: 0.85;
  position: sticky;
  top: 0;
  z-index:1;
  background-color: pink;
  grid-area: a;

}

.left_side, .right_side { 
  width: 200px;
  overflow-y: scroll;
  position: sticky;
  top:85px;
  bottom: 300px;
}



.left_side {
  left:0px;
  background-color: blue;
  grid-area: b;
  float:left;
}
.right_side {
  right: 0px;
  background-color: yellow;
  grid-area: d;
  float:right;
}

main {
  width: auto-fill;
  background-color: coral;
  grid-area: c;
  overflow:hidden; 
}


footer {
  height: 300px;
  width: auto-fill;
  background-color: green;
  grid-area: e;
}
p {
  font-weight: normal;
  padding: 0.8em;
}
.scroller {
  height: 2000px;
  scrollbar-width: none;
  overflow-y: scroll;
}
main .scroller {
  height: 4000px;
}

.scroller::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 992px)
{
  .parent {
    grid-template-columns: auto auto;
    grid-auto-rows: auto auto auto auto;
    grid-template-areas:
      "a a"
      "b c"
      "d c"
      "e e";
  }

   .parent > main {
    height:auto ;
  }

}

@media only screen and (max-width: 600px)
{
  .parent {
    height: auto;
    grid-template-columns: auto auto;
    grid-auto-rows: auto auto auto auto;
    grid-template-areas:
      "a a"       
      "c c"
      "b d"
      "e e";

  }

  .parent >.left_side, .right_side {
    width: 100%;
  }
  footer {
    z-index: 1;
    min-height: 20px;
  }
  .scroller {
  overflow-y: scroll;
}